/*==========>enter<===========*/

  .enter_tabs{
    display: none;
  } 
  .enter_tabs.active{
    display: block;
  }
    
  .enter_link{
    padding: 22px 11px 20px;
    display: inline-block;
    margin: 0 17px 0 0;
    font-size: 14px;
  }

    .enter_menu.active .enter_link{
      margin: 0;
      padding: 22px 28px 20px 27px;
      background: #fff;
      color: #4d204d;
      background: url("../images/menu_arrow.png") 50% 100% no-repeat #fff; 
    }

    input{
      border: none;
      font-size: 14px;
      background: none;
      width: 200px;
    }

    input:focus, button:focus{
      outline: none;
    }

    .email_box, .password_box, .key_box{
      border: 1px solid #e6e6e6;
      border-radius: 3px;
      padding: 6px 80px 7px 10px;
    }

    .lable_email{
      font-size: 18px;
      color: #404040;
      margin: 4px 70px 0 0;
    }

    .password_box{
      background: url("../images/password_img.png") 95% 50% no-repeat;
      margin: 0 10px;
    }
    
    .enter_btn{
      background: none;
      border: 1px solid #e6e6e6;
      font-size: 16px;
      color: #bfbfbf;
      padding: 9px 20px 8px;
      border-radius: 3px;
      cursor: pointer;
    }

    .links_box{margin-left: 25px;}
      
      .registration_link{
        font-size: 14px;
        display: block;
        color: #7f2080;
      }
        
        .bg_link2{
          background: url("../images/point_img.png") 0 100% repeat-x;
        }

    .close{
      margin: 13px 0 0 30px; 
    }    

/*=============>regestration<===============*/
.back{
  margin: 12px 30px 0 12px; 
}
/*=============>regestration_key<===============*/     
.key_text{
  font-size: 14px;
  margin:  0 40px 0 38px;
  color: #006083;
  text-align: left;
}

.key_box{
  margin-right: 10px;
}