/*===================> Header <======================*/
#overlay{
  display: none;
}

#overlay.active{
  display: block;
}

.bg_noonbook_15{
  background: rgb(83,41,84); /* Old browsers */
  background: -moz-linear-gradient(-45deg,  rgba(83,41,84,0.9) 0%, rgba(196,105,97,0.9) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,rgba(83,41,84,0.9)), color-stop(100%,rgba(196,105,97,0.9))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(-45deg,  rgba(83,41,84,0.9) 0%,rgba(196,105,97,0.9) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(-45deg,  rgba(83,41,84,0.9) 0%,rgba(196,105,97,0.9) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(-45deg,  rgba(83,41,84,0.9) 0%,rgba(196,105,97,0.9) 100%); /* IE10+ */
  background: linear-gradient(135deg,  rgba(83,41,84,0.9) 0%,rgba(196,105,97,0.9) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#532954', endColorstr='#c46961',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
}

.header{
  background: #401241; /* Old browsers */
  background: -moz-linear-gradient(left,  #401241 0%, #7d2d4c 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right top, color-stop(0%,#401241), color-stop(100%,#7d2d4c)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(left,  #401241 0%,#7d2d4c 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(left,  #401241 0%,#7d2d4c 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(left,  #401241 0%,#7d2d4c 100%); /* IE10+ */
  background: linear-gradient(to right,  #401241 0%,#7d2d4c 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#401241', endColorstr='#7d2d4c',GradientType=1 ); /* IE6-9 */
  position: relative;
}
  .header_left{
    position: relative;
    z-index: 99;
  }

    .all_site_button{
      display: block;
      width: 18px;
      height: 15px;
      background: url("../images/all_site_icon.png") no-repeat;
      margin-top: 24px;
    }

      .all_site_button.active{
        background: url("../images/all_site_icon.png") 0 100% no-repeat;
      }

    .logo{
      margin-top: 22px;
    }
      .logo a{
        display:block;
        width:124px;
        height:19px;
        font-size: 16px;
        background:url(../images/logo.png) 0 0 no-repeat;
        text-indent:-9999px;
        margin-left: 21px;
      }