/*==========>location<===========*/

  .location{
    margin: 15px 0 0 32px;
  }    

    .flag{
      border: 5px solid #f2f2f2;
      border-radius: 3px;
      margin: 2px 5px 0 0;
    }

    .location_link{
      font-size: 14px;
      display: inline-block;
      margin-top: 5px;
    }

    .select_city{
      padding-right: 25px;
    }

    .select_city .jq-selectbox__select{
      height: 23px;
      padding: 0;
      font-size: 14px;
      border-top: none;
      border-right: none;
      border-left: none;
      border-bottom: 1px dotted #99768f;
      background: none;
      color: #fff;
      border-radius: 0;
      text-shadow: none;
      outline: none;
      box-shadow: none;
    }

      .select_city .jq-selectbox__trigger{
        display: none;
      }

      .select_city.jq-selectbox.focused .jq-selectbox__select{
        border: none;
      }