/*========>menu<=========*/
.navigation{
  margin-left: 64px;
  display: inline-block;
}

  .menu_item{
    float: left;
    cursor: pointer;
  }

    .menu_item_link{
      color: #fff;
      padding: 20px 11px 19px;
      display: inline-block;
    }

      .bg_link{
        background: url("../images/bg_link.png") 0 100% repeat-x;
      }

    .menu_item.active .menu_item_link{
      background: #fff;
      color: #4d204d;
      background: url("../images/menu_arrow.png") 50% 100% no-repeat #fff;
    }

    .menu .menu_item.active .sub_menu, .menu_click.active .sub_menu{
      display: block;
    }
    
/*==========>sub_menu<===========*/

.sub_menu{
  display: none;
  text-align: center;
  position: absolute;
  left: 0;
  padding: 12px 0 12px;
  width: 100%;
  border-bottom: 1px solid #cccccc;
  box-shadow:  0 3px 0 rgba(227,227,227, 0.3);
}
  .sub_menu_list{
    display: inline-block;
  }

    .sub_menu_item{
      float: left;
      display: inline-block;
    }

      .sub_menu_item_link, .sub_create_menu_item_link{
        display: block;
        color: #404040;
        font-size: 14px;
        padding: 7px 11px 8px;
        border-top: 1px solid #e6e6e6;
        border-right: 1px solid #e6e6e6;
        border-bottom: 1px solid #e6e6e6; 
      }

        .sub_menu_item:hover .sub_menu_item_link{
          background: #802d56;
          border: none;
          color: #fff;
          padding: 8px 12px 9px 11px;
        }

        .sub_menu_item:first-child .sub_menu_item_link{
          border-left: 1px solid #e6e6e6;
          padding: 7px 31px 8px;   
          border-radius: 3px 0 0 3px;
        }

        .sub_menu_item:last-child .sub_menu_item_link{  
          border-radius: 0 3px 3px 0;
        }

          .sub_menu_item:first-child .sub_menu_item_link:hover{
            padding: 8px 31px 9px 32px;
          }