@import "../css/reset.css";
@import "../css/jquery.formstyler.css";
@import url(http://fonts.googleapis.com/css?family=Open+Sans);
@import "../css/header.css";
@import "../css/menu.css";
@import "../css/create.css";
@import "../css/location.css";
@import "../css/enter.css";
@import "../css/profile.css";
/* Global properties ======================================================== */

body{
  font-family: 'Open Sans', sans-serif;
}

.main{
  width: 1215px;
  margin: 0 auto;
}

.clearfix:after {
  content: "";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

.col_white{
  color: #fff;
}

a{text-decoration: none;}
/*=====>Padding bottom<=====*/
.pb1{padding-bottom: 1px;}
.pb2{padding-bottom: 2px;}
.pb3{padding-bottom: 3px;}
.pb4{padding-bottom: 4px;}
.pb5{padding-bottom: 5px;}
.pb6{padding-bottom: 6px;}
.pb7{padding-bottom: 7px;}
.pb8{padding-bottom: 8px;}
.pb9{padding-bottom: 9px;}
.pb10{padding-bottom: 10px;}
/*=====>Margin right<=====*/
.ml24{margin-left: 24px;}
.ml40{margin-left: 40px;}

/*=====>Text Alegin<=====*/
.al_center{text-align: center;}
.al_left{text-align: left;}
.al_right{text-align: right;}
/*=====>Float<=====*/
.f_left{float: left;}
.f_right{float: right;}
  


